<header class="header">
  <div class="logo">
    <%= link_to "Theingi Lin", root_path %>
  </div>

  <nav class="nav">
    <%= link_to "ホーム", root_path, class: ("active" if current_page?(root_path)) %>

    <%= link_to "自己紹介", about_path, class: ("active" if current_page?(about_path)) %>

    <%= link_to "スキル", skills_path, class: ("active" if current_page?(skills_path)) %>

    <%= link_to "制作実績", projects_path, class: ("active" if current_page?(projects_path)) %>

    <%= link_to "職務経歴", experience_path, class: ("active" if current_page?(experience_path)) %>

    <%= link_to "お問い合わせ", contact_path, class: ("active" if current_page?(contact_path)) %>

    <div class="moon">
      🌙
    </div>
  </nav>
</header>